.centered {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.banner{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    width: 100%;
}

.footer{
    width:80%;
    float: left;
    background-color: rgb(179,179,179);
    bottom: 0;
    position: fixed;
}


.table1{
    float:left;
    width: 40%;
    margin-left: 7%;
    border: 5px solid red;
    background-color:green;
    margin-bottom: 5%;
}

.table2{
    float:left;
    width: 40%;
    margin-left: 8%;
    border: 5px solid red;
    background-color:yellow;
    margin-bottom: 5%;
}

.team{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    width: 35%;
    height:auto;
    border-radius:100%;
    background-color:purple;
}


.tname{
    text-align:center;
    width: 35%;
    float: left;
    margin-left: 10%;
}
.legend{
    width:inherit; /* Or auto */
    padding:0 10px; 
    border-bottom:none;
}
fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px solid black;
}

.field{
    margin-bottom:4%;
}

.log{
    width: 25%;
    margin:auto;
    
}