.centered {
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.banner{
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 15px;
    width: 100%;
}

.footer{
    width:80%;
    float: left;
    background-color: rgb(179,179,179);
    bottom: 0;
    position: fixed;
}

.wtableContainer{
    width: 90%;
    background-color: turquoise;
    margin: auto;
}

.table1{
    float:left;
    width: 40%;
    margin-left: 5%;
    border: 5px solid red;
    background-color:green;
}

.table2{
    float:left;
    width: 40%;
    margin-left: 10%;
    border: 5px solid red;
    background-color:yellow;
}

.team{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    width: 35%;
    height:auto;
    border-radius:100%;
    background-color:purple;
}

